body {
  background-color: green;
}

.game-container {
  height: 100vh;
  width: 90vw;
  background-image: url(./images/bg-blackboard.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}

/* Square */
.square {
  background: transparent;
  border-image-source: url(./images/border-line.png);
  border-image-slice:27 27 27 27;
  border-image-width:20px 20px 20px 20px;
  border-image-outset:5px;
  border-image-repeat:stretch stretch;
  border-style: solid;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
}

.square:focus {
  outline: none;
}

/* Board */
.status {
  margin: 20px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/* Game */
.game {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
}