@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&display=swap');
@font-face {
  font-family: 'Colored Crayons';
  src: url(../public/Colored\ Crayons.woff2);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: url(../public/images/bg-blackboard.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100vw 100vh;
  background-color: rgb(2, 53, 2);

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%);

  font-family: 'Comfortaa';
  color: white;
}

.title {
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: underline;
  margin: 2.5rem 0 0 0;
}

/* Menu */
.board, .board-options{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}
.board-options {
  width: 20rem;
  margin: 2rem 0;
}
.board {
  width: 100%;
  height: 100%;
}

.size-options {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}

.size img {
  cursor: pointer;
}

.size-options img {
  width: 7rem;
  height: 7rem;
}

#id {
  grid-area: main;
}

#start {
  grid-area: footer;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: row1-start;
  grid-row-end: 3;
  font-size: 3rem;

}
#start:hover{
  cursor: pointer;
}


/* Square */
.square {
  background: transparent;
  border-image-source: url(../public/images/border-line.png);
  border-image-slice:33;
  border-image-width:1.3rem;
  border-image-outset:5px;
  border-image-repeat:stretch stretch;
  border-style: solid;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 64px;
  height: 64px;
  text-align: center;

  font-family: 'Colored Crayons';
  font-size: 2rem;
  font-weight: 300;
  color: white;
}

.square:focus {
  outline: none;
}

/* Board */
.board-info {
  display: flex;
  gap: 2rem;
  border-bottom:4px solid white;
  margin: 0.5rem 0 1rem 0;
  padding-bottom: 0.3rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}


/* Game */
.game-board {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2rem 0;
}
.game {
  display: flex;
  flex-direction: column;
}

.status {
  font-size: 1rem;
}
.main-menu {
  text-align: end;
}

a{
  color: white;
  text-decoration: none;
}

.credit a {
  color: rgb(236, 193, 4);
}

button {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;


  font-family: 'Comfortaa';
  font-size: 1rem;
  color: white;
  text-decoration: none;
}


@media screen and (max-width: 425px){
  .square {
    width: 50px;
    height: 50px;
  }
  
}