@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&display=swap');
@font-face {
  font-family: 'Colored Crayons';
  src: url(../public/Colored\ Crayons.woff2);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: green;

  font-family: 'Comfortaa';
  color: white;
}

/* App */
.game-container {
  height: 100vh;
  width: 100vw;
  background-image: url(../public/images/bg-blackboard.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100vw 100vh;
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}
.title {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: underline;
  margin: 2.5rem 0 0.5rem 0;
}

/* Menu */
.board-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-options [type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.board-options [type=radio] + img {
  cursor: pointer;
}

.board-options [type=radio]:checked + img {
  padding: 0.5rem;
  outline: 2px double white;
}

.size-options {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  margin: 2rem 0;
}
.size-options img {
  width: 7rem;
  height: 7rem;
}

#start {
  font-size: 3rem;
}
#start:hover{
  cursor: pointer;
}


/* Square */
.square {
  background: transparent;
  border-image-source: url(../public/images/border-line.png);
  border-image-slice:30;
  border-image-width:1.5rem;
  border-image-outset:5px;
  border-image-repeat:stretch stretch;
  border-style: solid;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;

  font-family: 'Colored Crayons';
  font-size: 60px;
  font-weight: 300;
  color: white;
  line-height: 80px;
}

.square:focus {
  outline: none;
}

/* Board */
.board-info {
  display: flex;
  justify-content: space-between;
  border-bottom:4px solid white;
  margin-bottom: 2rem;
  padding-bottom: 0.3rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}


/* Game */
.game-board {
  position: relative;
  display: flex;
}
.game-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2rem 0;
}
.game {
  display: flex;
  flex-direction: column;
}

.status {
  font-size: 1rem;
}

button {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;


  font-family: 'Comfortaa';
  font-size: 1rem;
  color: white;
  text-decoration: none;

}
